<div class="container">
  <app-error-display *ngIf="error">
    {{ error }}
  </app-error-display>
  <div class="name">
    <div class="name__display">
      <h3>{{ name }}</h3>
    </div>
    <div class="title__button">
      <app-button [disabled]="!name" (click)="editWeek()" width="10rem">
        Edit
      </app-button>
    </div>
  </div>
  <div class="shopping-list">
    <h5>Shopping List</h5>
    <ul *ngIf="shoppingList.length > 0; else noShoppingList">
      <li *ngFor="let item of shoppingList">
        <p>{{ prepareShoppingItem(item.name, item.quantity, item.unit) }}</p>
      </li>
    </ul>
    <ng-template #noShoppingList>
      <div class="shopping-list__no-items">
        <h4>
          It looks like there are no items on your shopping list. Click on edit
          to get started.
        </h4>
      </div>
    </ng-template>
  </div>
  <div class="meals">
    <div class="form-title">
      <h2>Meals</h2>
      <div class="change-mode">
        <app-button (click)="toggleDayMode()" margin="0 0 1rem 0">
          {{ dayMode ? "Whole week's meals" : "Meals by day" }}
        </app-button>
      </div>
      <div class="mode-buttons" *ngIf="dayMode && meals.length > 0">
        <button
          *ngFor="let day of weekdayKey"
          [class.active]="dayFilter === day"
          (click)="setDayFilter(day)"
        >
          {{ weekday(day) }}
        </button>
      </div>
    </div>
    <div class="meals__content" *ngIf="meals.length > 0; else noMeals">
      <div class="day-mode" *ngIf="dayMode">
        <div
          class="meals__content__day"
          *ngIf="filteredMeals.length > 0; else noFilteredMeals"
        >
          <ul>
            <li *ngFor="let meal of filteredMeals">
              <h5>Meal for {{ mealtime(meal.time) }}:</h5>
              <div *ngIf="meal.recipe">
                <span>
                  Recipe:&nbsp;
                  <a [routerLink]="['/recipes', meal.recipe.id]">
                    {{ meal.recipe.name }}
                  </a>
                </span>
              </div>
              <div *ngIf="meal.text">
                <span> Direction: {{ meal.text }} </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="no-day-mode" *ngIf="!dayMode">
        <div class="meals__content__day">
          <ul>
            <li class="meals__content__day" *ngFor="let day of weekdayKey">
              <div *ngIf="mealsByDay(day).length > 0">
                <h5>Meals for: {{ weekday(day) }}</h5>
                <ul>
                  <li *ngFor="let daysMeals of mealsByDay(day)" class="meals__content__day__list--no-day-mode">
                    <p>{{ mealtime(daysMeals.time) }}:</p>
                    <div *ngIf="daysMeals.recipe">
                      <span>
                        Recipe:&nbsp;
                        <a [routerLink]="['/recipes', daysMeals.recipe.id]">
                          {{ daysMeals.recipe.name }}
                        </a>
                      </span>
                    </div>
                    <div *ngIf="daysMeals.text">
                      <span> Direction: {{ daysMeals.text }} </span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <ng-template #noFilteredMeals>
        <div class="meals__content__no-meal">
          <h4>No meals for {{ weekday(dayFilter) }}</h4>
        </div>
      </ng-template>
    </div>
    <ng-template #noMeals>
      <div class="meals__no-meals">
        <h4>
          It looks like there's no meals planned for the week. Click on edit to
          get started.
        </h4>
      </div>
    </ng-template>
  </div>
</div>
<app-default-modal
  [id]="modalId"
  (close)="closeModal()"
  [title]="modalTitle"
  [text]="modalText"
  [top]="modalTop"
></app-default-modal>
