@import "src/scss/abstracts";

.container {
  @include respond(tab-port) {
    padding: 1rem;
  }

  .name {
    display: flex;
    align-items: center;

    margin-left: 1rem;
    &__display {
      margin-right: 2rem;
    }
  }

  .shopping-list {
    margin: $size-small;
    h5 {
      border-bottom: 1px solid $color-gray-dark-3;
      margin-bottom: 1rem;
    }
    ul {
      margin-left: 2rem;
      list-style: circle;

      li {
        margin: $vertical-xs;
      }
    }
    &__no-items {
      margin-top: 1rem;
      padding: $size-small;

      background-color: $color-gray-light-2;
      border: 1px solid $color-gray-dark-3;
      box-shadow: $shadow-small;
    }
  }

  .meals {
    .form-title {
      display: flex;
      border-bottom: 1px solid $color-black;
      margin: $size-small;

      .mode-buttons {
        @include respond(tab-port) {
          display: flex;
          flex-direction: column;
        }
      }
    }

    &__no-meals {
      margin: 1rem;
      padding: $size-small;

      background-color: $color-gray-light-2;
      border: 1px solid $color-gray-dark-3;
      box-shadow: $shadow-small;
    }

    &__content {
      margin-left: 1rem;
      background-color: lighten($color-eggshell, 5%);
      box-shadow: $shadow-small;
      padding: 1rem 2rem;
      &__day {
        ul {
          li {
            margin: $vertical-small;
            span {
              font-size: $font-size-medium;
              a,
              a:link,
              a:visited {
                text-decoration: none;
                color: $color-primary-dark-1;

                opacity: 0.8;
                transition: $transition-normal;

                &:hover {
                  text-decoration: underline;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
