<div class="container" [style.height]="size" [style.width]="size">
  <div class="loading" [style.height]="size" [style.width]="size">
    <div [style.height]="circleSize" [style.width]="circleSize"></div>
    <div [style.height]="circleSize" [style.width]="circleSize"></div>
    <div [style.height]="circleSize" [style.width]="circleSize"></div>
    <div [style.height]="circleSize" [style.width]="circleSize"></div>
    <div [style.height]="circleSize" [style.width]="circleSize"></div>
    <div [style.height]="circleSize" [style.width]="circleSize"></div>
    <div [style.height]="circleSize" [style.width]="circleSize"></div>
  </div>
</div>
