@import 'src/scss/abstracts';

.container {
  position: relative;
  @include centered-flex;

  .loading {
    position: absolute;

    height: 4rem;
    width: 4rem;

    border-radius: 50%;
    animation: rotate 1.3s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    div {
      position: absolute;

      border-radius: 50%;
      background-color: $color-primary-dark-1;
    }

    :nth-of-type(1) {
      top: 50%;
      left: -10%;
      transform: translateY(-50%);
    }

    :nth-of-type(2) {
      top: 20%;
      left: -5%;
      transform: translateY(-20%);
    }

    :nth-of-type(3) {
      top: -4%;
      left: 12.5%;
    }

    :nth-of-type(4) {
      top: -10%;
      left: 50%;
      transform: translateX(-50%);
    }

    :nth-of-type(5) {
      top: -4%;
      right: 12.5%;
    }

    :nth-of-type(6) {
      top: 20%;
      right: -5%;
      transform: translateY(-20%);
    }

    :nth-of-type(7) {
      top: 50%;
      right: -10%;
      transform: translateY(-50%);
    }

  }
}

