<div class="container">
  <h1>About</h1>
  <div class="flex">
    <div class="left">
      <article #why>
        <h3>Why does this site exist?</h3>
        <p>
          The idea of this website is that you and/or your family can organize
          your week's meals and shopping in one place. I guess it's in the place
          of having a whiteboard in the kitchen in something. This way you can
          consume precious resources like electricity, computing resources or
          bandwith on this website instead of, like, writing things down
          physically? With your own hand? Gross. I guess it can do some nifty
          things like tabulate different ingredients together. It also exists so
          I could practice what I'd learned about Django, GraphQL and Angular.
        </p>
      </article>
      <article #how>
        <h3>How do I use this site?</h3>
        <p>
          Before you do anything, you can look at what recipes are available without
          making an account. Likewise, you can browse this page and the privacy policy
          without making one. But to do anything else, you will need one. Go to login/register
          and make an account (or log in with an account you already have but make sure it's on
          login mode, that only has two boxes to fill out instead of 4).
          Then you have a choice of two things: 1. setting up your
          groups and/or joining one. You go to the groups page, and from there you can make
          a request to join a group or make one yourself. Once you've done joined/made your groups,
          you can see if anyone wants to join any of your groups
          or their members by clicking on the box that says "my groups".
          You (or any of their members) can also disband any of your groups at any time.
          2. To get started on your shopping list, click on 'the week'.
          From the dropdown menu you can look at any of your groups
          or just your own personal shopping list. Once you're viewing it, if you click 'edit',
          you can set up a shopping list and your plans for your whole week (or just the days
          you want).
        </p>
      </article>
      <article #who>
        <h3>Who am I?</h3>
        <p>
          My name is Benyakir Horowitz. I am a writer and editor who has spent
          the last year learning programming. You can check out
          <a href="https://benyakiredits.com">my blog</a> or
          <a href="https://github.com/benyakirten/">my Github</a> to learn more
          about me and what I do. Or you can write me a message using the boxes
          below. It sends an email to my personal email account. Cool, eh?
        </p>
      </article>
      <article #cred>
        <h3>Photo Credit</h3>
        <p>
          The beautiful illustration of flowers that I used for the front page
          was made by Johan Teyler (1648-1709). Original from Rijks Museum.
        </p>
      </article>
      <article #messageMe>
        <form *ngIf="loggedIn" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="message-me">
            <div class="row">
              <label for="message">Your message:</label>
              <app-error-display *ngIf="result" [success]="messageGood">
                {{ result }}
              </app-error-display>
            </div>
            <textarea
              rows="10"
              id="message"
              name="message"
              placeholder="Your website is just the best."
              required
              ngModel
            ></textarea>
            <app-button type="submit" [disabled]="!f.valid || loading">
              <span *ngIf="!loading">Send</span>
              <app-loading *ngIf="loading"></app-loading>
            </app-button>
          </div>
        </form>
      </article>
    </div>
    <div class="right">
      <app-display-box>
        <h4>Table Of Contents</h4>
        <ol>
          <li (click)="scroll(why)">
            <span class="link" role="link">Why should I use this site?</span>
          </li>
          <li (click)="scroll(how)">
            <span class="link" role="link">How do I use this site?</span>
          </li>
          <li (click)="scroll(who)">
            <span class="link" role="link">Who am I?</span>
          </li>
          <li (click)="scroll(cred)">
            <span class="link" role="link">Photo Credit</span>
          </li>
          <li (click)="scroll(messageMe)" *ngIf="loggedIn">
            <span class="link" role="link">Send me a message</span>
          </li>
        </ol>
      </app-display-box>
    </div>
  </div>
</div>
