<div class="container">
  <h1>Privacy Policy</h1>
  <h3>What data do we collect?</h3>
  <p>
    We only collect the information you submit, which is primarily:
    1. your email address, 2. your shopping list. The information
    is stored in a database, which is managed and organized by
    a computer program. It will only be viewed by a human being
    either by you, those in your group or possibly (almost certainly not)
    by me, personally, if I need to fix some particular issue that
    can't be fixed systematically. I will never share the information,
    nor will the program that controls the database.
  </p>
  <h3>What cookies do we use?</h3>
  <p>
    None! Usage statistics are not collected, and the few items that are
    needed to keep track of the user is done with local storage. That said,
    as with all things on the internet, be careful about what information
    you use. Security isn't my forté, and although I've used a few of what
    I believe are best practices, I don't know that much. That said, no one
    will probably use this website so it'll probably be safe from hackers
    or whatnot.
  </p>
</div>
