<div class="center">
  <div class="error" *ngIf="error">
    <app-error-display>
      {{ error }}
    </app-error-display>
  </div>
  <div class="loading" *ngIf="!error && loading">
    <app-loading></app-loading>
  </div>
  <ul *ngIf="!error && !loading && recipes && recipes.length > 0">
    <app-recipe-item
      *ngFor="let recipe of recipes"
      [recipe]="recipe"
      [@recipes]
    ></app-recipe-item>
  </ul>
  <app-card *ngIf="!error && !loading && recipes && recipes.length === 0">
    <div class="no-recipes">
      <div>
        <h4>
          There are no recipes available yet.
        </h4>
        <p>
          Please create a recipe to see it displayed in the list.
        </p>
      </div>
    </div>
  </app-card>
</div>
