@import "src/scss/abstracts";

article {
  display: flex;
  justify-content: space-between;

  @include respond(phone) {
    flex-direction: column-reverse;
    align-items: center;
  }

  section {
    .hero-text {
      opacity: 0;
      animation: fade-in 2s 0.5s forwards;
      h1 {
        font-size: $font-size-xxl;
      }
      p {
        margin: $vertical-medium;
        font-size: $font-size-large;
      }
    }
    .hero-explanation {
      opacity: 0;
      animation: fade-in 2s 1.5s forwards;
      h3 {
        font-size: $font-size-xl;
      }
      p {
        margin: $vertical-medium;
        font-size: $font-size-large;
      }
    }
  }
  .illustration {
    img {
      height: 60rem;

      @include respond(tab-port) {
        height: 30rem;
      }
    }
  }
}
