<article class="hero">
  <section class="text">
    <div class="hero-text">
      <h1>A Week's Worth</h1>
      <p>
        A way to translate recipes, keep track of your meals and craft a
        shopping list for a week, all in one place
      </p>
    </div>
    <div class="hero-explanation">
      <h3>Register an account and dive into the fun</h3>
      <p>
        As soon as you join, you can customize your shopping for yourself, or
        join with the other members of your household in a group and start
        planning out your meals in one, centralized place.
      </p>
    </div>
    <div class="hero-explanation">
      <h3>
        Why do this and not just write stuff down like a normal human being?
      </h3>
      <p>
        I can't answer that for you, but I can tell you why I designed this
        website. Halfway to get practice with GraphQL and Angular, but halfway
        so I wouldn't have to do this anymore for my household. This way
        everything is in a central repository that's evident to everyone.
      </p>
    </div>
    <div class="hero-explanation">
      <h3>What are some of the caveats?</h3>
      <p>
        Putting any information on the internet has inherent risk. That said,
        the database that keeps your information is decently safe. A few things
        to keep in mind, though. Who is in which group is publicly available
        information, and all recipes are shared among all members. Any member of
        a group has complete control over every aspect of a group.
      </p>
    </div>
  </section>
  <div class="illustration">
    <img src="/assets/images/Hero.jpg" alt="A lovely vase" />
  </div>
</article>
