@import "src/scss/abstracts";

.container {
  .form-title {
    border-bottom: 1px solid $color-black;
    margin: $size-small;
  }

  .form {
    width: 100%;

    &--verify {
      @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .button {
        margin-top: 5px;
        @include respond (tab-port) {
          margin-left: -1rem;
          margin-bottom: 1rem;
        }
      }
    }

    &__buttons {
      margin-left: 1rem;
      display: flex;
      &__button {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
  .verified {
    .submit {
      margin-left: 1rem;
    }
    .body {
      display: flex;
      flex-direction: column;

      @include respond(tab-port) {
        flex-direction: column-reverse;
      }

      .display-box {
        width: 90%;
      }
    }
  }

  .not-verified {
    p {
      margin-left: 1rem;
      margin-bottom: 2rem;
    }
    .row {
      display: flex;
      align-items: center;
      form {
        display: inline-flex;
      }
      .control-group {
        transform: translateY(-5px);
      }
      .button {
        :first-child {
          margin: $horizontal-small;
        }
      }
    }
  }
}
